<div class="fixed inset-0 z-10 flex items-center justify-center w-full h-full bg-black bg-opacity-50"
    *ngIf="isEditModalOpen">
    <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-lg">
        <div class="flex justify-between items-center mb-4">
            <h3 class="text-lg font-semibold text-gray-700">
                Update User
            </h3>
            <div class="cursor-pointer" (click)="closeModal()">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 text-gray-600 hover:text-gray-800">
                    <path
                        d="M8.00191 9.41621C7.61138 9.02569 7.61138 8.39252 8.00191 8.002C8.39243 7.61147 9.0256 7.61147 9.41612 8.002L12.0057 10.5916L14.5896 8.00771C14.9801 7.61719 15.6133 7.61719 16.0038 8.00771C16.3943 8.39824 16.3943 9.0314 16.0038 9.42193L13.4199 12.0058L16.0039 14.5897C16.3944 14.9803 16.3944 15.6134 16.0039 16.004C15.6133 16.3945 14.9802 16.3945 14.5896 16.004L12.0057 13.42L9.42192 16.0038C9.03139 16.3943 8.39823 16.3943 8.00771 16.0038C7.61718 15.6133 7.61718 14.9801 8.00771 14.5896L10.5915 12.0058L8.00191 9.41621Z"
                        fill="#0F0F0F"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M23 4C23 2.34315 21.6569 1 20 1H4C2.34315 1 1 2.34315 1 4V20C1 21.6569 2.34315 23 4 23H20C21.6569 23 23 21.6569 23 20V4ZM21 4C21 3.44772 20.5523 3 20 3H4C3.44772 3 3 3.44772 3 4V20C3 20.5523 3.44772 21 4 21H20C20.5523 21 21 20.5523 21 20V4Z"
                        fill="#0F0F0F"></path>
                </svg>
            </div>
        </div>
        <form (submit)="handleSaveSubject($event)" [formGroup]="userForm">
            <div class="max-h-[500px] overflow-y-auto">
                <div class="flex flex-row gap-2">
                    <div class="mb-4">
                        <label for="firstname" class="block text-sm font-medium text-gray-700">First Name</label>
                        <input formControlName="firstname" type="text" placeholder="First name"
                            class="w-full px-4 py-2 mt-1 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400" />
                    </div>
                    <div class="mb-4">
                        <label for="middlename" class="block text-sm font-medium text-gray-700">Middle Name</label>
                        <input formControlName="middlename" type="text" placeholder="Middle name"
                            class="w-full px-4 py-2 mt-1 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400" />
                    </div>
                </div>
                <div class="mb-4">
                    <label for="lastname" class="block text-sm font-medium text-gray-700">Last Name</label>
                    <input formControlName="lastname" type="text" placeholder="Last name"
                        class="w-full px-4 py-2 mt-1 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400" />
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                    <input formControlName="password" type="text" placeholder="Password"
                        class="w-full px-4 py-2 mt-1 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400" />
                </div>

                <div class="flex justify-end my-4">
                    <button type="submit" class="px-4 py-2 text-white bg-[#012970] rounded-lg hover:bg-blue-700">
                        Update
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>