<div class="mx-10">
    <h2 class="text-2xl font-semibold text-blue-600">Batch</h2>
    <p class="text-sm text-gray-500 mb-10">Batch / {{breedcrumb}}</p>
    <div class="card bg-white rounded-lg shadow-sm p-4 gap-2 flex flex-row justify-between mt-2 mb-10">
        <Searchbar class="flex items-center justify-center" />
        <div class="relative">
            <button
                class="px-4 py-2 bg-white border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
                (click)="openFormModal()"
            >
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12.7071 14.7071C12.3166 15.0976 11.6834 15.0976 11.2929 14.7071L6.29289 9.70711C5.90237 9.31658 5.90237 8.68342 6.29289 8.29289C6.68342 7.90237 7.31658 7.90237 7.70711 8.29289L12 12.5858L16.2929 8.29289C16.6834 7.90237 17.3166 7.90237 17.7071 8.29289C18.0976 8.68342 18.0976 9.31658 17.7071 9.70711L12.7071 14.7071Z"
                        fill="#000000">
                        </path> 
                    </g>
                </svg>
                Add
            </button>
        </div>
    </div>
       
    
    <div class="bg-white rounded-lg min-w-full shadow-sm p-4 ">
        <h1 class="text-2xl font-semibold text-blue-600 mb-4">Batch</h1>
        <div class="overflow-hidden bg-white rounded-lg shadow-md">
            <table class="min-w-full table-auto">
                <thead>
                <tr class="text-sm leading-normal text-left text-gray-600 shadow-md uppercase bg-[#F0F4FB]">
                    <th class="px-6 py-3">#</th>
                    <th class="px-6 py-3">Batch Name</th>
                    <th class="px-6 py-3">Created Date</th>
                    <th class="px-6 py-3">Status</th>
                    <th class="px-6 py-3">Actions</th>
                </tr>
                </thead>
                <tbody class="text-sm font-light text-gray-600">
                <tr
                    *ngFor="let batch of filteredBatches" 
                    class="border-b border-gray-200 hover:bg-gray-100">
                    <td class="px-6 py-3">{{ batch.id }}</td>
                    <td class="px-6 py-3">{{ batch.batchname }}</td>
                    <td class="px-6 py-3">{{ batch.createdat }}</td>
                    <td class="px-6 py-3">{{ batch.status }}</td>
                    <td class="px-6 py-3 relative">
                        <button
                            (click)="toggleActions(batch)"
                            class="px-3 py-1 text-gray-600 bg-gray-200 rounded-lg hover:bg-gray-300">
                            <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4">
                                <circle cx="5" cy="10" r="2" fill="#000000"></circle>
                                <circle cx="10" cy="10" r="2" fill="#000000"></circle>
                                <circle cx="15" cy="10" r="2" fill="#000000"></circle>
                            </svg>
                        </button>
                        <div
                            *ngIf="isToggleActionsOpen && selectedBatch?.id === batch.id"
                            class="absolute top-0 right-0 mt-2 max-w-sm bg-white border rounded-lg shadow-lg z-10">
                            <button  class="px-4 py-2 hover:bg-gray-100 cursor-pointer"
                            (click)="openEditModal(batch)">
                            <i class="pi pi-pencil text-blue-500" ></i>
                            </button>
                            <button  class="px-4 py-2 hover:bg-gray-100 cursor-pointer"
                            (click)="deleteBatch(batch)">
                            <i class="pi pi-trash text-red-500" ></i>
                            </button>
                            <button  class="px-4 py-2 hover:bg-gray-100 cursor-pointer"
                            (click)="deactivate(batch)">
                            <i class="pi pi-plus text-red-500 rotate-45" ></i>
                            </button>
                        </div>
                    </td>
                    
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <Add-batch
        (_closeModal)="closeModal($event)" 
        [isFormModalOpen]="isFormModalOpen" 
        [isEditModalOpen]="isEditModalOpen" 
        [editBatch]="editBatch" 
        (batchUpdated)="onBatchUpdated()"
        
    />

</div>