<div class="flex flex-col sm:flex-row home-background justify-center">
    <div class="images hidden sm:block">
        <img src="assets/Coil.png" alt="logo1" class="coil hidden sm:block" [ngClass]="{'run-coil': animate}">
        <img src="assets/center.png" alt="logo2" class="center-img hidden sm:block">
    </div>
    <div class="w-[40%] h-full pt-[7rem] z-10 hidden sm:block">
        <div class="flex flex-col">
            <h1 class="flex flex-col self-start ">
                <!-- <span class=" text-6xl font-bold">
                    Teacher
                </span> -->
                <span class="text-blue-600 text-6xl font-bold">
                    Cha
                </span>
            </h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt deleniti, at ipsa iste dolores qui suscipit perspiciatis aperiam tempora iure eum ea et, doloribus maxime quis vero, consequatur commodi eos.</p>
        </div>
    </div>
    <div class="h-[90%] sm:h-[75%] max-w-lg sm:w-[40%] z-10 flex flex-wrap box-border">
        @if(!show) {
            <Register (_showLogin)="showView($event)" />
        }
        @else {
            <Login (_showRegister)="showView($event)" class="w-full" />
        }
    </div>
</div>
