
<nav>
    <ul class="space-y-4 mt-4">
        <div 
            class="flex lg:flex-1 mb-4"
            [ngClass]="{'justify-center': !isOpen}"
        >
            <a 
                routerLink="/" 
                [ngClass]="{ 'justify-start p-1.5': isOpen, 'w-8 h-8 justify-center items-center shadow-md rounded-full bg-[#012a703d] p-2': !isOpen}" 
                class="-m-1.5 flex gap-4 cursor-pointer" 
            >
                <span [ngClass]="{ 'block': !isOpen, 'hidden': isOpen}" class="text-blue-900 font-bold">{{title.charAt(0).toUpperCase()}}</span>
                <span [ngClass]="{ 'block': isOpen, 'hidden': !isOpen}" class="text-blue-900 font-bold">{{title}}</span>
            </a>
        </div>

        <li class="items-center space-x-4" *ngFor="let route of availableRoutes">
            <a routerLink="{{ route.path }}" routerLinkActive="is-active" [ngClass]="{ 'justify-start w-40': isOpen, 'justify-center': !isOpen}" class="router-link flex items-center text-black hover:text-blue-400 hover:bg-opacity-50 focus:outline-none focus:text-blue-400 focus:bg-opacity-50 overflow-hidden gap-4">
                <span class="text-xl">
                    <i [class]="route.icon" class="text-blue-900"></i>
                </span>
                <label class="text-blue-900 font-medium text-sm" [ngClass]="{ 'block': isOpen, 'hidden': !isOpen}">{{ route.title }}</label>
            </a>
        </li>

        <hr>
    </ul>
</nav>