<div class="bg-white rounded-lg min-w-full shadow-sm p-4 ">
    <div class="flex flex-row justify-between">
        <h1 class="text-2xl font-semibold text-blue-600 mb-4">Materials And Documents</h1>
        <div class="flex gap-2 flex-row items-center">
            <button (click)="handleFormModal()"
                class="px-4 py-2 bg-white border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
                <i class="pi pi-plus text-xs mr-2"></i>
                Add
            </button>
        </div>
    </div>
    <div class="overflow-hidden bg-white rounded-lg shadow-md">
        <table class="min-w-full table-auto">
            <thead>
                <tr class="text-sm leading-normal text-left text-gray-600 shadow-md uppercase bg-[#F0F4FB]">
                    <th class="px-6 py-3">id</th>
                    <th class="px-6 py-3">title</th>
                    <th class="px-6 py-3">Description</th>
                    <th class="px-6 py-3">Url Ref</th>
                    <th class="px-6 py-3">Actions</th>
                </tr>
            </thead>
            <tbody class="text-sm font-light text-gray-600">
                <tr *ngFor="let material of filteredMaterials" class="border-b border-gray-200 hover:bg-gray-100">
                    <td class="px-6 py-3">{{ material.id }}</td>
                    <td class="px-6 py-3">{{ material.materialtitle }}</td>
                    <td class="px-6 py-3">{{ material.description }}</td>
                    <td class="px-6 py-3">{{ material.urlref }}</td>
                    <td class="px-6 py-3 flex flex-row">
                       <!--  <button class="px-4 py-2 hover:bg-gray-100 cursor-pointer" (click)="openEditModal(material)">
                            <i class="pi pi-pencil text-blue-500"></i>
                        </button> -->
                        <p-confirmDialog />
                        <div class="px-4 py-2 hover:bg-gray-100 text-red-600 cursor-pointer">
                            <p-button (onClick)="confirm2($event, material.id)" icon="pi pi-trash" severity="danger" [outlined]="true" />
                        </div>
                    </td>
                </tr>

                <tr *ngIf="filteredMaterials.length === 0">
                    <td colspan="5" class="px-6 py-3 text-center font-bold text-lg">No Items</td>
                </tr>
            </tbody>
        </table>

        <AddDocuments [isFormModalOpen]="isFormModalOpen" [isEditModalOpen]="isEditModalOpen"
        (_closeModal)="handleCloseModal()" [editDocuments]="selectedDocument" (getTeacher)="handleGetDocuments()"></AddDocuments>
    </div>
</div>